<div class="col">
  <div class="card">
    <a href="{{product.image}}" class="card-img">
      <img src="{{product.image}}" class="card-img-top" alt="Изображение {{product.title}}">
    </a>
    <div class="card-body">
      <h5 class="card-title fw-bold">{{product.title}}</h5>
      <p class="card-text mb-0">{{product.description}}</p>
      <p class="mb-3 mb-sm-4 mb-md-3">. . .</p>
      <a [routerLink]="['/product', product.id]" class="btn btn-primary px-5 mt-auto mt-sm-3 mt-md-auto">Подробнее</a>
    </div>
  </div>
</div>
